beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
docutils==0.14
galaxy-lib==17.9.10
httptools==0.0.9
idna==2.6
multidict==3.3.2
numpy==1.13.3
psutil==5.4.2
pulsar==2.0.1
pulsar-app==0.8.0
pulsar-client==1.20.0
PyYAML==3.12
requests==2.18.4
scikit-learn==0.19.1
six==1.11.0
spawn==0.1
urllib3==1.22
uvloop==0.9.1
WebOb==1.7.4
